*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rajdhani", sans-serif;
  color: #515151;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}
